In [1]:
import pymysql.cursors
import pandas as pd

In [2]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='',
                             db='globalwarming',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

In [73]:
sql_query = """
SELECT 
    StationRecords.StationId as StationId, 
    StationRecords.Year as Year,
    StationRecords.`Month` as `Month`,
    StationRecords.AvgMaxTemp as AvgMaxTemp,
    StationRecords.AvgMinTemp as AvgMinTemp,
    StationRecords.MaxTemp as MaxTemp,
    StationRecords.MinTemp as MinTemp,
    StationRecords.MaxMinTemp as MaxMinTemp,
    CONCAT(StationDetails.City, ",", StationDetails.Country) as City
FROM StationRecords
JOIN StationDetails ON StationRecords.StationId = StationDetails.StationId
WHERE CONCAT(StationDetails.City, ",", StationDetails.Country) = 'Zermatt,Switzerland'
"""

In [74]:
def fahrenheit_to_celsius(df, columns):
    '''
    df = pd.DataFrame, containing one or more columns which are in degrees Fahrenheit
    columns = list of strings corresponding to the columns which are to be converted into degrees celsius 
    returns pd.Dataframe
    '''

    # For each specified column, convert the temperature from Fahrenheit to celsius
    for i in columns:
        df.loc[:,i] = (df.loc[:,i] - 32) * 5 / 9

    return df

In [75]:
df = pd.read_sql(sql_query, connection)

In [76]:
test = df
test["AvgMaxTemp"] = (test.loc[:,"AvgMaxTemp"] - 32) * 5 / 9

In [77]:
df.head()
df = df.groupby(['City','Year']).mean() 
df = df.reset_index()  
df.tail()

,City,Year,Month,AvgMaxTemp,AvgMinTemp,MaxTemp,MinTemp,MaxMinTemp
49,"Zermatt,Switzerland",2015,6.5,12.601620,42.271833,65.00,31.55,51.65
50,"Zermatt,Switzerland",2016,6.5,12.881620,42.595333,67.25,30.95,52.40
51,"Zermatt,Switzerland",2017,6.5,12.580787,42.641917,66.50,30.95,52.40
52,"Zermatt,Switzerland",2018,6.5,13.509722,43.098583,70.40,30.50,52.70
53,"Zermatt,Switzerland",2019,2.5,7.912639,34.472750,57.65,26.15,42.80

In [78]:
def test_func(col):
    start_year = min(df.Year)
    end_year = max(df.Year)
    start_temp = df.loc[df["Year"] == start_year, col].unique()[0]
    end_temp = df.loc[df["Year"] == end_year, col].unique()[0]
    temp_change = end_temp - start_temp
    return temp_change

In [79]:
test_func("MaxTemp")

-6.183333333333337

In [80]:
test_func("MinTemp")

-4.016666666666669