### Objective

Concatenate and clean the data before loading into the MySQL database

### Tasks

1. Combine each of the individual weather station CSVs into a single CSV for each calendar year (e.g. 2000, 2001)
2. Remove redundant columns
3. Rename the column names to match that of the database for easier import

### Functions

In [7]:
# Import required libraries
import csv
import os
import pandas as pd
from sqlalchemy import create_engine

In [8]:
# Get the names of all files in the dir
def create_annual_file(folder_path, year):
    '''
        For all of the CSV files in a given folder, combine all of the CSVs into a single annual file
        
        folder_path = String. The folder path where each of the annual folders are saved
        year = String. The calendar year file being created.
        
        returns a DataFrame
    '''
    # Full path name
    full_path = folder_path + year
    
    # Get file names in dir and convert to a list
    file_names = list(os.listdir(full_path))
    
    # Calculate the number of files in the dir
    no_files = len(file_names)
    
    # Combine the CSVs
    combined_file = pd.concat([pd.read_csv(str(full_path + "/" + f)) for f in file_names])
    
    # Return combined_csv df
    return combined_file

In [9]:
# Clean the CSV
def clean_files(df):
    '''
        Clean combined CSV ready for import into MySQL
    
        df = dataframe returned from the combined_csv function. 
        
        returns a DataFrame
    '''
    
    # Create the station_records df 
    df = df.drop(labels = ['LATITUDE', 
                           'LONGITUDE', 
                           'NAME', 
                           'ELEVATION', 
                           'PRCP_ATTRIBUTES', 
                           'TEMP_ATTRIBUTES', 
                           'DEWP_ATTRIBUTES', 
                           'SLP_ATTRIBUTES', 
                           'STP_ATTRIBUTES', 
                           'VISIB_ATTRIBUTES', 
                           'WDSP_ATTRIBUTES', 
                           'MAX_ATTRIBUTES', 
                           'MIN_ATTRIBUTES', 
                           'PRCP_ATTRIBUTES'], 
                 axis=1)
    
    # Rename the columns 
    df.columns = ['StationId', 
                  'Date', 
                  'Temp', 
                  'Dew', 
                  'SLP', 
                  'StationPressure', 
                  'Visib', 
                  'WindSpeed', 
                  'MaxWindSpeed', 
                  'Gust', 
                  'MaxTemp', 
                  'MinTemp', 
                  'Precip', 
                  'SnowDepth', 
                  'Conditions']

    return df

In [10]:
# Run all functions and load results to MySQL
def run(folder_path, start_year, end_year):
    '''
        Converts individual weather station records into annual summary/file/.
        Cleans the annual summary.
        Loads the annual summary to MySQL.
        
        file_path = String. Path to where all of the folders for each year are saved.
        start_year = Int. Start year to combine data
        end_year = Int. End year to combine data
        
        returns None
    '''    
    # Create range of years
    years = range(start_year, end_year + 1)
    
    for year in years:
        # Create annual file
        print("Creating annual file for {}...".format(year))
        df = create_annual_file(folder_path, str(year))
        print("{} file created".format(year))

        # Clean annual file
        print("Cleaning {} file...".format(year))
        df = clean_files(df)
        print("{} file cleaned".format(year))    

        # Load annual file to MySQL
        print("Loading {} file to MySQL...".format(year))
        
        # Create connection to the database
        engine = create_engine('mysql+mysqldb://root:@localhost/globalwarming')

        df.to_sql(con=engine,
                    name='StationRecords', 
                    if_exists = 'append', 
                    index=False)
        
        print("{} file loaded to MySQL".format(year))
        print("-----------------------")

    print("Loaded all years to MySQL")

### Run Function

In [71]:
run("/Users/todddequincey/Downloads/", 2000, 2019)

Creating annual file for 2000...
2000 file created
Cleaning 2000 file...
2000 file cleaned
Loading 2000 file to MySQL...
2000 file loaded to MySQL
-----------------------
Creating annual file for 2001...
2001 file created
Cleaning 2001 file...
2001 file cleaned
Loading 2001 file to MySQL...
2001 file loaded to MySQL
-----------------------
Creating annual file for 2002...
2002 file created
Cleaning 2002 file...
2002 file cleaned
Loading 2002 file to MySQL...
2002 file loaded to MySQL
-----------------------
Creating annual file for 2003...
2003 file created
Cleaning 2003 file...
2003 file cleaned
Loading 2003 file to MySQL...
2003 file loaded to MySQL
-----------------------
Creating annual file for 2004...
2004 file created
Cleaning 2004 file...
2004 file cleaned
Loading 2004 file to MySQL...
2004 file loaded to MySQL
-----------------------
Creating annual file for 2005...
2005 file created
Cleaning 2005 file...
2005 file cleaned
Loading 2005 file to MySQL...
2005 file loaded to MySQL
-----------------------
Creating annual file for 2006...
2006 file created
Cleaning 2006 file...
2006 file cleaned
Loading 2006 file to MySQL...
2006 file loaded to MySQL
-----------------------
Creating annual file for 2007...
2007 file created
Cleaning 2007 file...
2007 file cleaned
Loading 2007 file to MySQL...
2007 file loaded to MySQL
-----------------------
Creating annual file for 2008...
2008 file created
Cleaning 2008 file...
2008 file cleaned
Loading 2008 file to MySQL...
2008 file loaded to MySQL
-----------------------
Creating annual file for 2009...
2009 file created
Cleaning 2009 file...
2009 file cleaned
Loading 2009 file to MySQL...
2009 file loaded to MySQL
-----------------------
Creating annual file for 2010...
2010 file created
Cleaning 2010 file...
2010 file cleaned
Loading 2010 file to MySQL...
2010 file loaded to MySQL
-----------------------
Creating annual file for 2011...
2011 file created
Cleaning 2011 file...
2011 file cleaned
Loading 2011 file to MySQL...
2011 file loaded to MySQL
-----------------------
Creating annual file for 2012...
2012 file created
Cleaning 2012 file...
2012 file cleaned
Loading 2012 file to MySQL...
2012 file loaded to MySQL
-----------------------
Creating annual file for 2013...
2013 file created
Cleaning 2013 file...
2013 file cleaned
Loading 2013 file to MySQL...
2013 file loaded to MySQL
-----------------------
Creating annual file for 2014...
2014 file created
Cleaning 2014 file...
2014 file cleaned
Loading 2014 file to MySQL...
2014 file loaded to MySQL
-----------------------
Creating annual file for 2015...
2015 file created
Cleaning 2015 file...
2015 file cleaned
Loading 2015 file to MySQL...
2015 file loaded to MySQL
-----------------------
Creating annual file for 2016...
2016 file created
Cleaning 2016 file...
2016 file cleaned
Loading 2016 file to MySQL...
2016 file loaded to MySQL
-----------------------
Creating annual file for 2017...
2017 file created
Cleaning 2017 file...
2017 file cleaned
Loading 2017 file to MySQL...
2017 file loaded to MySQL
-----------------------
Creating annual file for 2018...
2018 file created
Cleaning 2018 file...
2018 file cleaned
Loading 2018 file to MySQL...
2018 file loaded to MySQL
-----------------------
Creating annual file for 2019...
2019 file created
Cleaning 2019 file...
2019 file cleaned
Loading 2019 file to MySQL...
2019 file loaded to MySQL
-----------------------
Loaded all years to MySQL

In [78]:
run("/Users/todddequincey/Downloads/GSOD/", 1995, 1999)

Creating annual file for 1995...
1995 file created
Cleaning 1995 file...
1995 file cleaned
Loading 1995 file to MySQL...
1995 file loaded to MySQL
-----------------------
Creating annual file for 1996...
1996 file created
Cleaning 1996 file...
1996 file cleaned
Loading 1996 file to MySQL...
1996 file loaded to MySQL
-----------------------
Creating annual file for 1997...
1997 file created
Cleaning 1997 file...
1997 file cleaned
Loading 1997 file to MySQL...
1997 file loaded to MySQL
-----------------------
Creating annual file for 1998...
1998 file created
Cleaning 1998 file...
1998 file cleaned
Loading 1998 file to MySQL...
1998 file loaded to MySQL
-----------------------
Creating annual file for 1999...
1999 file created
Cleaning 1999 file...
1999 file cleaned
Loading 1999 file to MySQL...
1999 file loaded to MySQL
-----------------------
Loaded all years to MySQL

In [79]:
run("/Users/todddequincey/Downloads/GSOD/", 1990, 1991)

Creating annual file for 1990...
1990 file created
Cleaning 1990 file...
1990 file cleaned
Loading 1990 file to MySQL...
1990 file loaded to MySQL
-----------------------
Creating annual file for 1991...
1991 file created
Cleaning 1991 file...
1991 file cleaned
Loading 1991 file to MySQL...
1991 file loaded to MySQL
-----------------------
Creating annual file for 1992...

FileNotFoundError: [Errno 2] No such file or directory: '/Users/todddequincey/Downloads/GSOD/1992'

In [80]:
run("/Users/todddequincey/Downloads/GSOD/", 1992, 1994)

Creating annual file for 1992...
1992 file created
Cleaning 1992 file...
1992 file cleaned
Loading 1992 file to MySQL...
1992 file loaded to MySQL
-----------------------
Creating annual file for 1993...
1993 file created
Cleaning 1993 file...
1993 file cleaned
Loading 1993 file to MySQL...
1993 file loaded to MySQL
-----------------------
Creating annual file for 1994...
1994 file created
Cleaning 1994 file...
1994 file cleaned
Loading 1994 file to MySQL...
1994 file loaded to MySQL
-----------------------
Loaded all years to MySQL

In [12]:
run("/Users/todddequincey/Downloads/GSOD/", 1985, 1989)

Creating annual file for 1985...
1985 file created
Cleaning 1985 file...
1985 file cleaned
Loading 1985 file to MySQL...

OperationalError: (_mysql_exceptions.OperationalError) (1292, "Incorrect date value: '01/01/1985' for column 'Date' at row 596") [SQL: 'INSERT INTO `StationRecords` (`StationId`, `Date`, `Temp`, `Dew`, `SLP`, `StationPressure`, `Visib`, `WindSpeed`, `MaxWindSpeed`, `Gust`, `MaxTemp`, `MinTemp`, `Precip`, `SnowDepth`, `Conditions`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'] [parameters: ((57602099999, '1985-01-01', 42.6, 39.2, 1023.9, 999.9, 0.7, 1.3, 3.9, 999.9, 43.3, 41.7, 0.0, 999.9, 110000), (57602099999, '1985-01-02', 42.6, 39.1, 1024.5, 999.9, 0.9, 1.6, 3.9, 999.9, 44.1, 41.2, 0.01, 999.9, 10000), (57602099999, '1985-01-03', 42.5, 40.1, 1028.0, 999.9, 1.2, 0.4, 1.9, 999.9, 44.4, 40.5, 0.0, 999.9, 10000), (57602099999, '1985-01-04', 42.8, 40.9, 1027.3, 999.9, 1.1, 1.0, 3.9, 999.9, 44.6, 40.5, 0.04, 999.9, 110000), (57602099999, '1985-01-05', 43.5, 39.4, 1023.3, 999.9, 1.4, 1.6, 3.9, 999.9, 45.9, 41.2, 0.0, 999.9, 0), (57602099999, '1985-01-06', 42.0, 40.2, 1024.3, 999.9, 1.0, 1.0, 1.9, 999.9, 42.6, 40.6, 0.05, 999.9, 10000), (57602099999, '1985-01-07', 41.1, 40.5, 1027.8, 999.9, 1.1, 4.3, 7.8, 999.9, 42.8, 39.2, 0.13, 999.9, 10000), (57602099999, '1985-01-08', 40.2, 38.5, 1027.0, 999.9, 1.7, 3.2, 5.8, 999.9, 41.5, 39.0, 0.05, 999.9, 10000)  ... displaying 10 of 2386296 total bound parameter sets ...  (78520199999, '1985-07-10', 87.6, 73.2, 9999.9, 999.9, 19.9, 12.2, 17.1, 999.9, 89.1, 84.9, 0.0, 999.9, 0), (78520199999, '1985-07-11', 89.0, 72.0, 9999.9, 999.9, 19.9, 14.4, 15.0, 999.9, 90.0, 88.0, 0.0, 999.9, 0))] (Background on this error at: http://sqlalche.me/e/e3q8)

In [ ]:
run("/Users/todddequincey/Downloads/GSOD/", 1980, 1984)

In [ ]:
run("/Users/todddequincey/Downloads/GSOD/", 1975, 1979)

In [ ]:
run("/Users/todddequincey/Downloads/GSOD/", 1970, 1974)

In [ ]:
run("/Users/todddequincey/Downloads/GSOD/", 1960, 1969)

In [14]:
year_1985 = create_annual_file("/Users/todddequincey/Downloads/GSOD/", "1985")

In [15]:
year_1985 = clean_files(year_1985)

In [16]:
year_1985

,StationId,Date,Temp,Dew,SLP,StationPressure,Visib,WindSpeed,MaxWindSpeed,Gust,MaxTemp,MinTemp,Precip,SnowDepth,Conditions
0,57602099999,1985-01-01,42.6,39.2,1023.9,999.9,0.7,1.3,3.9,999.9,43.3,41.7,0.00,999.9,110000
1,57602099999,1985-01-02,42.6,39.1,1024.5,999.9,0.9,1.6,3.9,999.9,44.1,41.2,0.01,999.9,10000
2,57602099999,1985-01-03,42.5,40.1,1028.0,999.9,1.2,0.4,1.9,999.9,44.4,40.5,0.00,999.9,10000
3,57602099999,1985-01-04,42.8,40.9,1027.3,999.9,1.1,1.0,3.9,999.9,44.6,40.5,0.04,999.9,110000
4,57602099999,1985-01-05,43.5,39.4,1023.3,999.9,1.4,1.6,3.9,999.9,45.9,41.2,0.00,999.9,0
5,57602099999,1985-01-06,42.0,40.2,1024.3,999.9,1.0,1.0,1.9,999.9,42.6,40.6,0.05,999.9,10000
6,57602099999,1985-01-07,41.1,40.5,1027.8,999.9,1.1,4.3,7.8,999.9,42.8,39.2,0.13,999.9,10000
7,57602099999,1985-01-08,40.2,38.5,1027.0,999.9,1.7,3.2,5.8,999.9,41.5,39.0,0.05,999.9,10000
8,57602099999,1985-01-09,38.6,36.0,1030.6,999.9,2.6,4.9,7.8,999.9,39.6,38.1,0.08,999.9,10000
9,57602099999,1985-01-10,42.5,36.1,1021.8,999.9,5.8,1.9,5.8,999.9,49.5,36.9,0.00,999.9,0
10,57602099999,1985-01-11,39.0,37.1,1022.9,999.9,2.0,3.5,5.8,999.9,39.4,35.1,0.00,999.9,0
11,57602099999,1985-01-12,42.1,37.4,1027.1,999.9,1.5,2.3,3.9,999.9,46.6,38.3,0.00,999.9,10000
12,57602099999,1985-01-13,42.5,39.7,1029.1,999.9,0.8,2.3,5.8,999.9,45.0,39.4,0.00,999.9,10000
13,57602099999,1985-01-14,42.9,40.6,1026.5,999.9,0.8,1.0,1.9,999.9,46.2,41.0,0.00,999.9,110000
14,57602099999,1985-01-15,45.3,40.4,1022.3,999.9,1.0,1.6,3.9,999.9,50.5,41.2,0.00,999.9,0
15,57602099999,1985-01-16,45.0,39.7,1022.4,999.9,1.1,1.3,3.9,999.9,48.2,41.9,0.00,999.9,0
16,57602099999,1985-01-17,48.8,38.2,1021.8,999.9,3.8,2.3,3.9,999.9,55.6,41.5,0.00,999.9,0
17,57602099999,1985-01-18,47.7,41.5,1020.9,999.9,0.9,1.0,1.9,999.9,55.9,37.6,0.00,999.9,100000
18,57602099999,1985-01-19,48.0,43.7,1019.6,999.9,0.7,0.6,3.9,999.9,55.4,40.1,0.00,999.9,100000
19,57602099999,1985-01-20,48.4,44.0,1016.4,999.9,0.7,1.4,1.9,999.9,51.8,44.8,0.00,999.9,100000
20,57602099999,1985-01-21,52.0,43.6,1014.0,999.9,1.6,1.9,3.9,999.9,57.6,47.1,0.00,999.9,100000
21,57602099999,1985-01-22,54.3,46.0,1017.0,999.9,1.2,2.9,3.9,999.9,61.2,49.1,0.00,999.9,0
22,57602099999,1985-01-23,50.1,47.2,1022.2,999.9,1.2,3.6,5.8,999.9,52.2,48.4,0.00,999.9,10000
23,57602099999,1985-01-24,49.4,44.5,1026.6,999.9,1.1,2.3,3.9,999.9,51.3,47.7,0.08,999.9,10000
24,57602099999,1985-01-25,49.8,44.5,1022.0,999.9,2.8,1.9,3.9,999.9,55.2,47.1,0.00,999.9,100000
25,57602099999,1985-01-26,50.4,43.8,1022.3,999.9,2.1,2.3,3.9,999.9,53.2,45.9,0.00,999.9,0
26,57602099999,1985-01-27,47.0,45.6,1026.3,999.9,0.8,1.9,1.9,999.9,49.5,45.1,0.35,999.9,10000
27,57602099999,1985-01-28,43.5,42.5,1029.7,999.9,2.8,1.9,7.8,999.9,45.5,42.6,0.20,999.9,10000
28,57602099999,1985-01-29,47.2,41.3,1029.0,999.9,3.5,2.6,5.8,999.9,53.2,43.3,0.00,999.9,0
29,57602099999,1985-01-30,48.3,39.6,1022.7,999.9,5.9,1.9,3.9,999.9,52.3,43.7,0.00,999.9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,78520199999,1985-05-12,84.5,70.5,9999.9,999.9,19.9,16.7,22.0,999.9,88.0,82.9,0.00,999.9,0
127,78520199999,1985-05-13,87.3,69.8,9999.9,999.9,19.9,20.0,25.1,999.9,88.0,86.0,0.00,999.9,0
128,78520199999,1985-05-14,85.0,73.0,9999.9,999.9,19.9,17.0,20.0,999.9,87.1,82.9,0.00,999.9,0
129,78520199999,1985-05-15,79.2,76.0,9999.9,999.9,19.9,6.8,11.1,999.9,81.0,75.9,0.00,999.9,0
130,78520199999,1985-05-16,85.9,76.1,9999.9,999.9,19.9,9.9,12.0,999.9,87.1,82.9,0.00,999.9,0
131,78520199999,1985-05-17,80.0,76.8,9999.9,999.9,11.9,7.2,9.9,999.9,82.9,77.0,0.00,999.9,0
132,78520199999,1985-05-19,84.2,74.2,9999.9,999.9,19.9,11.2,13.0,999.9,86.0,82.9,0.00,999.9,0
133,78520199999,1985-05-20,85.2,73.6,9999.9,999.9,19.9,16.2,25.1,999.9,86.0,82.9,0.00,999.9,0
134,78520199999,1985-05-21,84.4,70.8,9999.9,999.9,19.9,12.2,15.0,999.9,86.0,82.0,0.00,999.9,0
135,78520199999,1985-05-22,85.0,71.5,9999.9,999.9,19.9,12.2,18.1,999.9,86.0,82.9,0.00,999.9,0
136,78520199999,1985-05-23,85.2,68.3,9999.9,999.9,19.9,12.2,18.1,999.9,86.0,84.0,0.00,999.9,0
137,78520199999,1985-05-24,85.8,69.8,9999.9,999.9,19.9,11.9,15.0,999.9,87.1,84.0,0.00,999.9,0
138,78520199999,1985-05-26,85.2,73.2,9999.9,999.9,19.9,11.5,15.0,999.9,86.0,84.0,0.00,999.9,0
139,78520199999,1985-05-28,86.3,73.2,9999.9,999.9,19.9,10.8,13.0,999.9,88.0,84.9,0.00,999.9,0
140,78520199999,1985-05-29,85.8,71.3,9999.9,999.9,19.9,11.3,15.0,999.9,87.1,84.9,0.00,999.9,0
141,78520199999,1985-06-25,88.0,72.5,9999.9,999.9,19.9,12.2,13.0,999.9,90.0,86.0,0.00,999.9,0
142,78520199999,1985-06-26,86.8,74.6,9999.9,999.9,17.4,10.6,12.0,999.9,88.0,84.9,0.00,999.9,0
143,78520199999,1985-06-27,87.5,71.8,9999.9,999.9,15.7,13.9,20.0,999.9,89.1,86.0,0.00,999.9,0
144,78520199999,1985-06-28,87.4,73.2,9999.9,999.9,14.9,16.4,22.0,999.9,89.1,86.0,0.00,999.9,0
145,78520199999,1985-06-29,88.4,73.4,9999.9,999.9,14.9,12.6,15.9,999.9,90.0,87.1,0.00,999.9,0
146,78520199999,1985-06-30,88.4,71.8,9999.9,999.9,19.9,17.0,22.0,999.9,90.0,87.1,0.00,999.9,0
147,78520199999,1985-07-01,85.5,75.6,9999.9,999.9,19.9,16.5,20.0,999.9,89.1,75.0,0.00,999.9,0
148,78520199999,1985-07-02,88.4,73.5,9999.9,999.9,19.9,13.2,15.9,999.9,91.0,86.0,0.00,999.9,0
149,78520199999,1985-07-03,87.6,73.7,9999.9,999.9,16.3,16.6,24.1,999.9,89.1,86.0,0.00,999.9,0
150,78520199999,1985-07-04,88.4,74.6,9999.9,999.9,19.9,17.2,20.0,999.9,89.1,88.0,0.00,999.9,0
151,78520199999,1985-07-06,89.3,73.3,9999.9,999.9,19.9,14.5,20.0,999.9,90.0,89.1,0.00,999.9,0
152,78520199999,1985-07-07,89.0,73.4,9999.9,999.9,14.9,11.4,18.1,999.9,90.0,88.0,0.00,999.9,0
153,78520199999,1985-07-08,87.9,72.4,9999.9,999.9,14.9,8.9,9.9,999.9,89.1,87.1,0.00,999.9,0
154,78520199999,1985-07-10,87.6,73.2,9999.9,999.9,19.9,12.2,17.1,999.9,89.1,84.9,0.00,999.9,0
155,78520199999,1985-07-11,89.0,72.0,9999.9,999.9,19.9,14.4,15.0,999.9,90.0,88.0,0.00,999.9,0